body {
    width: 1050px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url(../0720_Final/image/bk.png);
    background-repeat: repeat;
}

.back {
    background-color: rgb(255, 255, 255);
}

.p {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 10pt;
    line-height: 2px;
}

.h2 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 48px;
    line-height: 5px;
}

header {
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
}

#tittle {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'NewYork', serif;
    font-size: 30pt;
}

/*選單

.list_team {
	display: flex;
	margin: 0;
	padding: 0;
}

.list {
	margin-top: 20px;
	position: relative;
}

.list li {
    list-style: none;
    float: left;
}

.li_A {
	list-style: none;
	margin-right: 5px;
}


.iteam {
    display: block;
    color: #111;
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: none;
}

            <div class="list_team">
                <ul class="list">
                    <li class="li_A"><a href="#" class="iteam">Home</a></li>
                    <li class="li_A"><a href="#" class="iteam">About</a></li>
                    <li class="li_A"><a href="#" class="iteam">Design</a></li>
                </ul>
            </div>

分隔線*/

/* 內頁選單 */
/* Header Style */

.header {
    color: #000;
    display: flex;
    /* 垂直置中 */
    align-items: center;      
    height: 40px;
    flex-direction: row-reverse;
    border-bottom: 1.5px solid #ccc;
}

.header-title {
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: normal;
    text-align: right;
    font-size: 90%;
    width: 50%;
}

.header-date {
    margin: 0;
}

/* Navitation Bar Style */
.nav {
    width: 50%;
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-list-item {
    list-style: none;
    margin-right: 5px;
}

.nav-list-item-link {
    display: block;
    color: #000;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 10pt;
    text-decoration: none;
    padding: 10px 20px;
    border: 1.5px solid #ccc;
    border-radius: 0px 8px 0px 0px;
    border-bottom: none;
}

.nav-list-item-link:hover {
    background-color: #ccc;
}


/* 分隔線 左側CSS*/

.allbox {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}


aside {

    width: 250px;
    background-color: rgb(255, 255, 255);
    
}

@font-face {
    font-family: 'Icons Social Media 8';
    src: url("/0720_Final/font/Icons\ Social\ Media\ 8.ttf") format("truetype");
}

.aside ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.aside li a {
    font-family: 'Icons Social Media 8';
    font-size: 20pt;
    text-decoration: none;
    margin: 3px;
}

/* 作品區 */

section {

    width: 950px;
    display: grid;
    background-color: rgb(255, 255, 255);
    border-left: 1.5px dotted #ccc;
    padding-left: 40px;
}

.photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 20px;

}

.photo div {
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 10pt;
    text-align: center;
}

.img_B div {
    height: 100%;
    width: auto;
}

.photo .b1 {
    grid-column-start: 4;
    grid-column-end: 1;
}

.photo .b2 {}

.photo .b3 {}

.photo .b4 {}

.photo .b5 {}

.photo .b6 {
    grid-column-start: 2;
    grid-column-end: 4;
}

/* 網頁尾端 */

footer {
    margin: 0 40px;
    padding-bottom: 10px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 10pt;
    border-top: 1px solid #ccc;
}

#cont {
    margin: auto;
    display: flex;
}